:root {
  --primary-normal: #7f56d9;
  --primary-Light: #c7a0f9;
  --background: #f9fafb;
  --dark-blue: #1b152b;
  --text-gray: #7a7d9c;
  --text-white: #ffffff;
  --linear-gradient: (90deg, #8932f6 -6.25%, rgba(27, 21, 43, 0) 212.03%);
  font-size: 62.5%;
}
@media only screen and (max-width: 320px) {
  .nav {
    background-color: var(--dark-blue);
    border-radius: 4.7rem;
    width: 30.4rem;
    height: 3.4rem;
    padding: 0.5rem 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo {
    width: 8px;
    height: 8px;
    gap: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: inline-block; */
    /* margin: 19px;
  padding: 26px; */
  }
  .nav-menu {
    width: 24px;
    height: 24px;
  }
  .nav-title {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.71rem;
    /* line-height: 1.12rem; */
    color: var(--text-white);
    /* text-align: center; */
    /* margin-left :50px; 
  margin-top: 15%; */
  }
  body {
    font-size: 1.5rem;
    background-color: var(--background);
  }

  h1,
  heading-xxlarge {
    font-size: 7.2rem;
    font-weight: 400;
  }

  h2,
  heading-xlarge {
    font-size: 4.2rem;
    font-weight: 400;
  }

  h3,
  heading-large {
    font-size: 3.6rem;
    font-weight: 400;
  }

  h4,
  heading-medium {
    font-size: 2.4rem;
    font-weight: 400;
  }

  h5,
  heading-small {
    font-size: 2rem;
    font-weight: 400;
  }

  h6,
  heading-xsmall {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .text-large {
    font-size: 2.4rem;
    font-weight: 400;
  }

  .text-medium {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .text-small {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .btn {
    font-size: 1.6rem;
    padding-left: 0.8rem 0.3rem;
    border-radius: 2rem;
    border-color: var(--primary-normal);
    border: none;
  }

  .btn-primary {
    background-color: var(--primary-normal);
    color: var(--text-white);
  }

  .btn-outline-primary {
    background-color: var(--background);
    color: var(--primary-normal);
    border: 1px solid;
    border-color: var(--primary-Light);
  }

  .btn-dark {
    background-color: var(--dark-blue);
    color: var(--background);
    border: 1px solid;
    border-color: var(--dark-blue);
  }

  .hero {
    text-align: center;
  }

  .hero__title {
    color: var(--dark-blue);
    text-align: left;
  }

  .hero__body {
    color: var(--text-gray);
  }
  .card {
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .card-chip {
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 97px;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 50px; */
    border-radius: 47px;
    background-color: var(--primary-Light);
    color: var(--text-white);
  }
  .card-end {
    background-image: url("/3\ 1.svg");
    width: 310px;
    height: 570px;
    border: 1px;
    border-radius: 24px;
  }
  .card-end-icon {
    width: 48px;
    height: 48px;
  }
}
@media only screen and (max-width: 320px) {
}

/* mobile */
@media only screen and (max-width: 768px) {
}

/* desktop */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* balaye 1200 */
@media only screen and (min-width: 1200px) {
}
